.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  padding-right: 12px; 
  width:100%;
  border-collapse: collapse;
  margin-bottom: 4px;
  height: auto;

}
th,td{
  border: 1px solid black;
  padding: 10px;
}

th{
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa04;
  color: #fff;
  text-align: center;
}

.block{
  display: flex;
  flex-direction: row;
}
